<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TikTakTokApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="snapshot"/>
</launchConfiguration>
